@font-face {
   font-family: 'Annette Bradford DEMO';
   font-display: swap;
   src: url('file:///C:/Users/Siti%20Mahmudah/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-21_104252/fonts/Annette%20Bradford%20DEMO/font.ttf');
}
